$font-family: 'RF Dewi', sans-serif
$font-family-digits: 'RF Dewi Extended', sans-serif

@font-face
  font-family: 'RF Dewi'
  font-weight: normal
  src: url('fonts/RFDewi-Regular.woff2')
@font-face
  font-family: 'RF Dewi'
  font-weight: 500
  src: url('fonts/RFDewi-Semibold.woff2')


@font-face
  font-family: 'RF Dewi Extended'
  font-weight: normal
  src: url('fonts/RFDewiExtended-Regular.woff2')

.h2-text-36-reg
  font-family: $font-family
  font-size: 36px
  font-weight: 400
  letter-spacing: -0.04em
  text-box-trim: trim-both
  text-box-edge: cap alphabetic

.h2-digits-36-reg
  font-family: $font-family-digits
  font-size: 36px
  font-weight: 400
  letter-spacing: -0.04em
  text-box-trim: trim-both
  text-box-edge: cap alphabetic

.h3-text-24-reg
  font-family: $font-family
  font-size: 24px
  font-weight: 400
  letter-spacing: -0.02em
  line-height: 1
  text-box-trim: trim-both
  text-box-edge: cap alphabetic

.digits-16-reg
  font-family: $font-family-digits
  font-size: 16px
  font-weight: 400
  letter-spacing: -0.02em
  //text-box-trim: trim-both
  //text-box-edge: cap alphabetic

.text-small-reg
  font-family: $font-family
  font-size: 14px
  font-weight: 400
  letter-spacing: 0.02em
  text-box-trim: trim-both
  text-box-edge: cap alphabetic

body
  font-family: $font-family
  font-size: 16px
  font-weight: 400
  letter-spacing: -0.02em
  text-box-trim: trim-both
  text-box-edge: cap alphabetic